.layout {
  width: 100%;
  position: relative;
  z-index: 1;

  &_title {
    font-family: Montserrat;
    font-size: 5rem;
    font-weight: 200;
    line-height: 7.7rem;
    letter-spacing: 0em;
    text-align: center;
    color: #757aa5;
    margin-top: 10rem;
    margin-bottom: 0;
  }

  &_img {
    width: 40%;
    position: absolute;
    top: -16rem;
    z-index: 2;
  }

  &_wrap_button {
    width: 32%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
